.open,
.close {
  border: solid 1px var(--gray-25);
}

.heading {
  font-size: var(--body);
}

.heading button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  cursor: pointer;
  outline: revert;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  font-size: 1.25em;
  color: var(--gray-25);
  transition: transform 0.5s;
}

.open .icon {
  transform: rotate(180deg);
}

.text {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.open .text {
  --text-height: attr(data-text-height, 0px);

  height: var(--text-height);
}

.textInner {
  padding: 0 1.14em 1.14em;
  font-size: calc(var(--body) * 0.875);
}
