.stack {
  /* modular scale */
  --stack-ratio: 1.5;
  --stack-s-5: calc(var(--stack-s-4) / var(--stack-ratio));
  --stack-s-4: calc(var(--stack-s-3) / var(--stack-ratio));
  --stack-s-3: calc(var(--stack-s-2) / var(--stack-ratio));
  --stack-s-2: calc(var(--stack-s-1) / var(--stack-ratio));
  --stack-s-1: calc(var(--stack-s0) / var(--stack-ratio));

  /* 普通のモジュラースケールは1.0remだが、stackはline-height基準の1.5remが良いらしいのでそうする
     * 日本語の場合は1.7くらいが良いかも */
  --stack-s0: 1.5rem;
  --stack-s1: calc(var(--stack-s0) * var(--stack-ratio));
  --stack-s2: calc(var(--stack-s1) * var(--stack-ratio));
  --stack-s3: calc(var(--stack-s2) * var(--stack-ratio));
  --stack-s4: calc(var(--stack-s3) * var(--stack-ratio));
  --stack-s5: calc(var(--stack-s4) * var(--stack-ratio));

  /* autoを使えるようにするためFlexboxをつかう */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    /* 既存の垂直マージンを削除 */
    margin-top: 0;
    margin-bottom: 0;
  }

  /* owl selector */
  & > * + * {
    margin-top: var(--space, var(--stack-s0));
  }

  /* 例外的に上下のスペースを広げる 
     * --space だけを指定すればいいのがポイント */
  .exception,
  .exception + * {
    --space: var(--stack-s3);
  }

  /* (以下はコピペする際は消してもOK)
     * flexboxのautoはCSS Gridの1frみたいに使える
     * NOTE: :nth-child()は先頭から、:nth-last-child()は後ろから */
  & > :nth-last-child(2) {
    margin-block-end: auto;
  }
}

/* .stackの亜種 */
.stack.small > * + * {
  --space: var(--stack-s-2);
}

.stack.large > * + * {
  --space: var(--stack-s1);
}
