.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  align-items: center;
}

.cluster.start {
  justify-content: flex-start;
}

.cluster.center {
  justify-content: center;
}

.cluster.between {
  justify-content: space-between;
}
