:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

.center {
  /* 最大カラム幅の公理を使いたいのでpaddingは横幅に含めない */
  box-sizing: content-box;
  /* English */
  /* max-width: 60ch; */
  /* Japanese */
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  /* 最低限のpaddingを指定 */
  padding-left: var(--s1);
  padding-right: var(--s1);
  /* 内在的(intrinsic)な中央揃えを実現するためにalign-itemsを指定 */
  display: flex;
  flex-direction: column;
  align-items: center;
}
