.box {
  display: flex;
  flex-direction: column;
  width: 8rem;
  height: 8rem;
  border: 1px solid gray;

  > .cover {
    margin-top: auto;
    margin-bottom: auto;
  }

  > .center {
    text-align: center;
  }
}

.box.dragging {
  background-color: skyblue;
}
