.box {
  --border-thin: 1px;
  /* paddingはレイアウトプリミティブの公理で四辺に同じ大きさで付ける */
  padding: var(--s2);
  /* borderもレイアウトプリミティブの公理で四辺につける */
  border: var(--border-thin) solid;

  /* 常に透明のアウトラインを適用することでwindowsのハイコントラストテーマに備える */
  /* ハイコントラストモードがONになっていないときはoutlineは表示されない。 */
  outline: var(--border-thin) transparent;
  /* outline-offset を負の値にすることでハイコントラストモードが有効になっているときはoutlineはBoxの境界の中に移動しボーダーのように機能する */
  outline-offset: calc(var(--border-thin) * -1);

  /* light themeとdark themeの色を準備 */
  --color-light: #fff;
  --color-dark: #000;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}
