@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */

/* 縦並び */
/* NOTE: グリッドコンテナは自動配置する */
.vertical {
  display: grid;
  gap: 24px;
  /* 垂直方向。この場合は消しても見た目に変化はないが、heightを指定する場合は必要 */
  align-content: start;
}

/* 横並び */
/* NOTE: グリッドコンテナは自動配置する */
.horizontal {
  display: grid;
  /* 自動配置のための設定 */
  grid-auto-flow: column;
  gap: 24px;
  /* viewpointまで横に広がったグリッドコンテナを小さくする */
  justify-content: start;
}

/* ここまで */
