/* 大文字の高さに合わせたアイコン */
.icon {
  /* capをサポートしていない古いブラウザに備えてemでも指定 */

  /* emやcapで指定することによりfont-sizeと連動させる！！ */

  /* 大文字の高さはだいたい0.75emくらいになる */
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

/* 小文字の高さに合わせたアイコン */
.icon-lower {
  width: 1ex;
  height: 1ex;
}

/* アイコン単体で使うときはこのクラスは不要 */
.with-icon {
  /* スペースを削除するためにinline-flexを指定 */
  display: inline-flex;
  gap: var(--space, 0.25em);
  align-items: baseline;
}

/* 以下でアイコンのサイズも調整可能 */
.small {
  font-size: 0.75em;
}

.big {
  font-size: 1.25em;
}
