.badge {
  /* inline-flex */
  display: inline-flex;
  /* items-center */
  align-items: center;
  /* rounded-md  */
  border-radius: 0.375rem; /* 6px */
  /* border  */
  border-width: 1px;
  /* px-2.5  */
  padding-left: 0.625rem; /* 10px */
  padding-right: 0.625rem; /* 10px */
  /* py-0.5  */
  padding-top: 0.125rem; /* 2px */
  padding-bottom: 0.125rem; /* 2px */
  /* text-xs  */
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  /* font-semibold  */
  font-weight: 600;
  /* transition-colors */
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.badge:focus {
  /* focus:outline-none  */
  outline: 2px solid transparent;
  outline-offset: 2px;
  /* focus:ring-2  */
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  /* focus:ring-ring  */
  --tw-ring-color: hsl(var(--ring));
  /* focus:ring-offset-2 */
  --tw-ring-offset-width: 2px;
  box-shadow:
    0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color),
    var(--tw-ring-shadow);
}

.badge.default {
  /* border-transparent  */
  border-color: transparent;
  /* bg-primary  */
  background-color: hsl(var(--primary));
  /* text-primary-foreground  */
  color: hsl(var(--primary-foreground));
  /* shadow  */
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.badge.default:hover {
  /* hover:bg-primary/80 */
  background-color: hsl(var(--primary) / 0.8);
}

.badge.secondary {
  /* border-transparent  */
  border-color: transparent;
  /* bg-secondary  */
  background-color: hsl(var(--secondary));
  /* text-secondary-foreground  */
  color: hsl(var(--secondary-foreground));
}

.badge.secondary:hover {
  /* hover:bg-secondary/80 */
  background-color: hsl(var(--secondary) / 0.8);
}

.badge.destructive {
  /* border-transparent  */
  border-color: transparent;
  /* bg-destructive  */
  background-color: hsl(var(--destructive));
  /* text-destructive-foreground  */
  color: hsl(var(--destructive-foreground));
  /* shadow  */
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.badge.destructive:hover {
  /* hover:bg-destructive/80 */
  background-color: hsl(var(--destructive) / 0.8);
}

.badge.outline {
  /* text-foreground */
  color: hsl(var(--foreground));
}
