/* NOTE: --positioningをfixedにするとdialogとして使える */
.imposter {
  position: var(--positioning, absolute);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* imposterの大きさが位置指定コンテナより大きい場合にスクロールバーを表示する版 */
.imposter.contain {
  /* 単位を含めないとcalcが無効になる */
  --margin: 0px;

  /* 両端のマージンを考慮してサイズを決定 */
  max-width: calc(100% - (var(--margin) * 2));
  max-height: calc(100% - (var(--margin) * 2));
  overflow: auto;
}
